<div class="row">
	<div class="page-header col-md-8 col-md-offset-2">
		<h1>Categorias</h1>
	</div>
</div>

<div class="row">
	<div class="col col-md-12">
		<%= render @categories %>
	</div>
</div>

<div class="row">
	<div class="col-md-2 col-md-offset-2 text-center">
	<%= link_to 'Nova categoria', new_category_path, class: "btn btn-primary" %>
	</div>
</div>
