<div class="row">
	<div class="page-header col-md-8 col-md-offset-2">
		<h1>Categoria</h1>
	</div>
</div>

<div class="row">
	<div class="col col-md-12" id="form">
		<%= render 'show_category' %>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<h4>Palavras</h4>
		<%= render @category.words %>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= render 'words/form' %>
	</div>
</div>


<div class="row">
	<div class="col-md-2 col-md-offset-2">
		<%= link_to 'Exibir todas', categories_path, class: "btn btn-primary" %>
	</div>
</div>